<h2>Individual Retirement Accounts</h2>
<h3>Choose an account right for you</h3>
<section>
  <h2>Traditional IRA</h2>
  <p>
    A savings account that allows your contributions to be deducted from your
    taxable income. Then when you retire with your IRA, your money will be taxed
    at your ordinary-income tax rate.
  </p>
  <p>Annual Contribution Limits:</p>
  <ul>
    <li>$6,000/year for ages under 50</li>
    <li>$7,000/year for ages 50 and older</li>
  </ul>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid fuga
    aliquam, dignissimos obcaecati fugit modi reprehenderit ullam debitis, neque
    porro quas cum praesentium. Unde id mollitia cum quidem molestias ex?
  </p>
  <a routerLink="/create-ira">Open Account</a>
</section>
<section>
  <h2>Roth IRA</h2>
  <p>Annual Contribution Limits:</p>
  <ul>
    <li>$6,000/year for ages under 50</li>
    <li>$7,000/year for ages 50 and older</li>
  </ul>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid fuga
    aliquam, dignissimos obcaecati fugit modi reprehenderit ullam debitis, neque
    porro quas cum praesentium. Unde id mollitia cum quidem molestias ex?
  </p>
  <a routerLink="/create-ira">Open Account</a>
</section>
<section>
  <h2>Spousal IRA</h2>
  <p>Annual Contribution Limits:</p>
  <ul>
    <li>$6,000/year for ages under 50</li>
    <li>$7,000/year for ages 50 and older</li>
  </ul>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid fuga
    aliquam, dignissimos obcaecati fugit modi reprehenderit ullam debitis, neque
    porro quas cum praesentium. Unde id mollitia cum quidem molestias ex?
  </p>
  <a routerLink="/create-ira">Open Account</a>
</section>
