<header>
  <h1>Falcon Investments</h1>
  <div class="navbar">
    <a routerLink="/home">Home</a>
    <a routerLink="/dashboard/1" >Dashboard</a>

    <div class="dropdown">
      <button class="dropbtn">
        Investments
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Stocks</a>
        <a href="#">Mutual Funds</a>
        <a href="#">ETFs</a>
      </div>
    </div>
    <a href="#">Login</a>
  </div>
</header>

<router-outlet></router-outlet>

<app-footer></app-footer>