<h1>Available Mutual Funds:</h1>
<div class="container" >
<mat-card>

<table>
    <tr><th>Investment Name</th>
    <th>Symbol</th>
    <th>Investment Type</th>
    <th>Expense Ratio</th>
    <th>NAV</th>
    <th>Date Created</th>
    <th>Add to Portfolio</th>

</tr>
    <tr *ngFor="let investment of tempFundList, let i = index">
            
            <td>{{investment.fundName}}</td>
            <td>{{investment.symbol}}</td>
            <td>Mutual Fund</td>
            <td>{{investment.expenseRatio}}</td>
            <td>{{investment.nAV | currency}}</td>
            <td>{{investment.inceptionDate | date}}</td>
            <td>
                <div *ngIf="localArray[i]==false">
                <button (click)="addInvestment(i)" mat-mini-fab color="primary" aria-label="icon button with a plus icon">
                    <mat-icon>add</mat-icon>
                </button>
                </div>
                <div *ngIf="localArray[i]==true">
                    <td>
                        <button mat-mini-fab disabled color="primary">
                            <mat-icon>add</mat-icon>
                        </button>
                    </td>
                </div>
            </td>
        
        </tr>
    

</table>
</mat-card>
</div>