.container {
    padding: 20px;
    background-color: #457b9dbf;
    min-height: 80vh;
    h1 {
        padding: 20px;
        font-size: 26px;
    }
    mat-card {
        margin: 20px;
    }
    .info {
        th {
            padding: 5px 15px;
        }
    }
}