<h2>Welcome!</h2>

<div>
    <h2>User info</h2>
    <table>
        <tr><th>Name: </th><td>James</td></tr>
        <tr><th>Age: </th><td>28</td></tr>
        <tr><th>Account Type: </th><td>Traditional IRA</td></tr>
        <tr><th>Annual Contribution: </th><td>$6,000</td></tr>
        <tr><th>Current Balance: </th><td>$28,000</td></tr>
    </table>
</div>
<div>
    <h2>Investment Portfolio</h2>
    <table>
        <th>Investment Name</th>
        <th>Investment Type</th>
        <th>Current Value</th>
        <th>Holdings</th>
        <th>Date Created</th>
        <tr>
            <td>Vanguard Index 500</td>
            <td>Mutual Fund</td>
            <td>$414.10</td>
            <td>3</td>
            <td>Mar 12, 2020</td>
        </tr>
    </table>
</div>

