<div class="wrapper">
  <h1>Welcome {{users[1].name | titlecase}}!</h1>
  <div class="container">
    <div class="user-info">
      <mat-card>
        <h2>User info</h2><hr>
        <div class="info">
          <table >
            <tr>
              <th>Name:</th><td>{{users[1].name | titlecase}}</td>
            </tr>
            <tr>
              <th>Email:</th><td>{{users[1].email}}</td>
            </tr>
            <ng-container >
              <tr>
                <th>Account Type:</th><td>{{iras ? iras.label : "type"}}</td>
              </tr>
              <tr>
                <th>Balance:</th><td>{{iras ? (iras.balance | currency) : "balance"}}</td>
              </tr>
              <tr>
                <th>Annual Contribution:</th><td>{{iras ? (iras.annualContribution | currency) : "annual contribution"}}</td>
              </tr>
              <tr>
                <th>Account Date:</th><td>{{iras ? (iras.createdAt | date) : "account date"}}</td>
              </tr>
            </ng-container>
        </table>
      </div>
    </mat-card>
    </div>

    <div class="spacer">
      <mat-card>
        <h2>Quick Links:</h2>
        <hr>
        <ul>
          <li>See Future Savings - <a routerLink="/calculator">Retirement Calculator</a></li>
          <li>See Investments - <a routerLink="/investments">Mutual Funds</a></li>
          <li>View Stocks - <a routerLink="/stocks">Stocks</a></li>
        </ul>
      </mat-card>
    </div>

    <div class="investment">
      <mat-card class="investment-card">
        <h2>Investment Portfolio</h2>
        <mat-tab-group dynamicHeight animationDuration="1000ms">
          <mat-tab label="Investments">
          <table class="investments">
            <th>Investment Name</th>
            <th>Symbol</th>
            <th>Investment Type</th>
            <th>Expense Ratio</th>
            <th>NAV</th>
            <th>Date Created</th>
            <th>Delete</th>

          <tr *ngFor="let investment of investments, let i = index">
            <td>{{ investment.name }}</td>
            <td>{{ investment.symbol }}</td>
            <td>{{ investment.type }}</td>
            <td>{{ investment.expenseRatio }}</td>
            <td>{{ investment.nAV | currency }}</td>
            <td>{{ investment.inceptionDate | date }}</td>
            <button (click)="deleteInvestment(investment.id, i)" mat-mini-fab color="primary" aria-label="icon button with a plus icon">
              <mat-icon>delete</mat-icon>
          </button>
          </tr>
        </table>
        <a class="btn" routerLink="/investments">Add Investments</a>
      </mat-tab>
      <mat-tab label="Stocks">
        <table class="investments">
          <th>Stock Name</th>
          <th>Symbol</th>
          <th>Price</th>
          <th>Amount </th>
          <th>Sell</th>

          <tr *ngFor="let stock of stocks; let i = index">
            <td>{{ stock.name }}</td>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.price }}</td> 
            <td>{{ stock.quantity }}</td>
            <td>
              <!-- <button
              (click)="deleteStock(stock.id, i)"
                mat-mini-fab
                color="primary"
                aria-label="icon button with a trash icon"
              >
                <mat-icon>delete</mat-icon>
              </button> -->
            </td>
          </tr>
        </table>
        <a class="btn" routerLink="/stocks">Add Stocks</a>
      </mat-tab>
    </mat-tab-group>
      </mat-card>
    </div>

  </div>
</div>
