<p>create-ira works!</p>
<h1>Create new IRA</h1>
<div class="container">
  <div class="card">
    <table>
        <tr>
          <th>UserId:</th>
          <td><input [(ngModel)]="newIra.userId" type="text" /></td>    </tr>

        <tr>
          <th>Name:</th>
          <td><input [(ngModel)]="newIra.label" type="text" /></td>
        </tr>
        <tr>
          <th>Balance:</th>
          <td><input [(ngModel)]="newIra.balance" type="text" /></td>
        </tr>
        <tr>
          <th>Annual Contribution:</th>
          <td><input [(ngModel)]="newIra.annualContribution" type="text" /></td>
        </tr>
        
      </table>
      <button type="submit" (click)="createIra()">Add!</button>

  </div>
</div>
