.container {
    margin: 40px auto;
    text-align: center;
    h1 {
        font-family: 'Merriweather', serif;
        font-size: 32px;
    }
    table {
        margin: auto;
        padding: 20px;
        text-align: left;
        th, td {
            padding: 10px 20px;
        }
    }
}

input {
    width: 100px;
}