.welcome {
    display: flex;
    min-height: 400px;
    background-color:#f1faee ;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    img {
        max-width: 600px;
        border: 1px solid black;
    }
}

.accounts {
    min-height: 400px;
    background-color: #a8dadc;
    padding: 10px 20px 40px 20px;
    h2 {
        padding: 20px;
        font-size: 36px;
        margin-left: 30px;
    }
    div {
        display: flex;
        justify-content: space-evenly;
        .ira {
            border-right: 1px solid black;
        }
        aside {
            padding: 5px 60px 30px 60px;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            li {
                text-align: left;
            }
            a {
                text-decoration: none;
                color: white;
                background-color: #1d3557;
                padding: 7px;
                border-radius: 5px;
                width: 130px;
                text-align: center;
            }
            a:hover {
                background-color: #3336908e;
            }
        }
    }
}

.investments {
    display: flex;
    justify-content: space-evenly;
    min-height: 400px;
    background-color: #457b9d;
    aside {
        padding: 40px;
        border-left: 1px solid black;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a {
            text-decoration: none;
            color: white;
            background-color: #1d3557;
            padding: 7px;
            border-radius: 5px;
        }
        a:hover {
            background-color: #3336908e;
        }
    }
}