<main>
  <section class="welcome">
    <div>
      <h2>Start Preparing for Financial Freedom</h2>
      <p>
        Here at Falcon Investments, we believe it is never too early to start
        investing. See our options below.
      </p>
    </div>
    <img src="../assets/images/family.jpg" alt="" />
  </section>
  <section class="accounts">
    <h2>Account Types:</h2>
    <div>
    <aside class="ira">
      <h3>Individual Retirement Accounts</h3>
      <ul>
        <li>Traditional IRA</li>
        <li>Roth IRA</li>
        <li>Spousal IRA</li>
      </ul>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque fugiat est sit laboriosam, at voluptatibus nulla minus et molestias quisquam officia quae doloremque earum quia, velit aperiam unde. Aliquam, corporis.</p>
      <a routerLink="/ira">Open Account</a>
    </aside>
    <aside>
      <h3>Other Accounts</h3>
      <ul>
        <li>Brokerage</li>
        <li>529 Savings</li>
        <li>UGMA/UTMA</li>
      </ul>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam facilis sit debitis, eligendi aperiam maxime earum ipsam in pariatur aut quas, doloremque quidem ad esse fuga suscipit ab expedita voluptates!</p>
      <a href="#">Open Account</a>
    </aside></div>
  </section>
</main>
  <section class="investments">
    <aside class="stocks">
      <h2>Stocks</h2>
      <p>Choose from thousands of stocks to buy and sell for your personal portfolio</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde temporibus sit porro adipisci sed, eius voluptatum saepe vero ut nesciunt minima mollitia est labore fugiat. Reiciendis nostrum exercitationem repellendus quae!</p>
      <a href="#">See Stocks</a>
    </aside>
    <aside class="mutual-funds">
      <h2>Mutual Funds</h2>
      <p>Choose from thousands of stocks to buy and sell for your personal portfolio</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum dolor porro illo maiores accusantium culpa provident odit veniam! Corrupti expedita mollitia in minima! Distinctio, repudiandae. Impedit atque obcaecati unde dolorum!</p>
      <a href="#">See Mutual Funds</a>
    </aside>
    <aside class="etfs">
      <h2>ETFs</h2>
      <p>Choose from thousands of stocks to buy and sell for your personal portfolio</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ad qui consequatur rerum debitis dolorem, non, natus voluptas nisi obcaecati minima vitae asperiores facilis numquam, at excepturi quam nam est?</p>
      <a href="#">See ETFs</a>
    </aside>
  </section>

